$green: rgb(6, 86, 12);
$orange: rgb(213, 115, 4);
$lightgreen: rgb(124, 178, 137);
$whitegreen: rgb(87, 141, 100);

body,
html {
    margin: 50px;
}

* {
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: auto;
    border: 1px solid;
    border-color: rgb(225, 225, 225);

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (max-width: 576px) {
        max-width: 100%;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }

    &.no-padding {
        padding: 0;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.main {
    display: flex;
    background-color: rgb(249, 249, 249, 0.5);
    backdrop-filter: blur(30px);
    min-height: 98px;
    padding-top: 15px;
    padding-right: 120PX;
    @media (max-width: 991px){
        display:flex ;
        justify-content: space-between;
        padding-left: 50px;
    }

   #left-menu {
        display: none;
        @media (max-width: 991px) {
            display: block;
            width: 40px;
            align-self: center;

            
         }
     
    }

  
    .logo {
        img {
            max-width: 90px;
            object-fit: contain;

            @media (max-width: 991px) {
                
                align-self: flex-end;
            }
        }
    }

    nav {
        margin-left: 97px;

        ul {
            display: flex;
            column-gap: 85px;

            li {
                list-style-type: none;
                color: $green;
                font-size: 20px;
                font-weight: bold;

                @media (max-width:1200px) {
                    font-size: 16px;
                }

            }
        }

        @media (max-width: 991px) {
            display: none;
        }
    }

    .button {
        display: flex;
        gap: 19px;
        align-items: center;
        height: 50px;
        max-width: 170px;
        justify-content: center;
        margin-top: 10px;
        border: 2px solid $green;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        @media (max-width: 991px) {
            display: none;
        }

        img {
            max-width: 35px;
        }

        p {
            color: $green;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

.content {
    position: relative;

    .background {
        img {
            width: -webkit-fill-available;
            position: relative;
        }

        &.mobile-bg {
            display: none;
        }

        @media (max-width: 991px) {
            &.desktop-bg {
                display: none;
            }

            &.mobile-bg {
                display: block;
                object-fit: contain;
            }
        }
    }

    .titles {
        position: absolute;
        top: 8%;
        right: 130px;
        width: 350px;
        font-size: 23px;
        word-wrap: break-word;

        

        h1 {
            color: $green;
           
        }

        h2 {
            color: $orange;
            margin-top: -50;
            @media (max-width:991px){
                margin-top: -25;
            }
           
        }
        @media (max-width: 991px) {
            font-size: 18px;
            word-wrap: break-word;
            text-align: center;
            width: 60%;


            
            
        }
    }
    
        
            .costs {
                display: flex;
                gap: 10px;
                color: $green;
                position: absolute;
                right: 130px;
                top: 64%;
                font-weight: bold;
                :first-child {
                    margin-top: -15px;
                }
                :last-child {
                    margin-top: 5px;
                }
                b {
                    font-size: 30px;
                    font-weight: 900px;
                }
                @media (max-width: 991px) {
                    top: 26%;
                    right: 32%; 
                }
            }
            .deliverypayment {
                position: absolute;
                top: 67%;
                right: 130px;
                font-weight: 800;
                color: $green;
                @media (max-width: 991px) {
                    top: 28%;
                    right: 38%; 
                }
            }
        
            .stars {
                display: flex;
                position: absolute;
                right: 130px;
                top: 75%;
        
                img {
                    width: 30px;
                    object-fit: contain;
                }
                @media (max-width: 991px) {
                    top: 33%;
                    right: 36%
                }
            }
        
            input {
                width: 155px;
                background-color: $green;
                color: white;
                font-weight: bold;
                font-size: 24px;
                border-radius: 16px;
                border: none;
                right: 130px;
                position: absolute;
                top: 85%;
                @media (max-width: 991px) {
                    top: 38%;
                    right: 36%
                }
            }
          
        
    }
    
    


.vedio {
   
    position: relative;
     display: grid;
     justify-content: center;
    .vedio-heading {
        display: flex;
        position: absolute;
        width: auto;
        z-index: 1;
        top: 25%;
        left: 32%;
        gap: 23px;

        p {
            font-size: 29px;
            color:white;
            margin-top: 15px;
        }

        .symbol {
            background-color: rgb(255, 255, 255);
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            width: 85px;
           height: 85px;

            img {
                width: 83px;
                padding-left: -32px;
                padding-top: 14px;
            }
        }
    }

    h1 {
        margin-right: 15%;
        color: $orange;
    }
    
}

.table {
    background-color: $lightgreen;
    display: grid;
    font-size: 18px;
    margin-top: 50px;

    h1 {
        color: white;
        text-align: center;

    }

    .line-g {
        display: flex;
        background-color: $whitegreen;
        color: white;
        gap: 243px;
        padding: 5 200;
        text-align: start;
        @media (max-width: 991px){
            display: grid;
            gap: 0;
            word-wrap: break-word;
            padding: 5px;
        }
    }

    .line {
        display: flex;
        padding: 5px 203;
        gap: 248px;
        text-align: start;
        @media (max-width: 991px){
            display: grid;
            gap: 0;
            word-wrap: break-word;
            padding: 5px;
            
        }
    }

    h3 {
        color: $green;
        @media (max-width: 991px){
            display: none;
            
        }
    }

    div {
        color: white;
    }

}

.benefits {
    h1 {
        text-align: center;
        color: $orange;
    }
}

.grid {
    display: grid;
    row-gap: 0;
    grid-template-columns: 41% 41%;
    justify-items: center;
    position: relative;
    padding-right: 18%;

    h2 {
        color: $whitegreen;
        text-align: start;
        max-width: 341px;
        word-wrap: break-word;
        font-size: 21px;
    }

    img {
        max-width: 350px;
        object-fit: contain;
    }
    @media(max-width: 991px){
        grid-template-columns: auto;
        align-content: center;
        padding-right: 0;
    }

}

.list {

    ul {
        display: block;
        padding: 0;

        li {
            color: black;
            font-size: 16px;
            max-width: 279px;
            word-wrap: break-word;
            font-weight: 600;
            list-style-type: none;
            display: flex;
            gap: 5px;
            align-items: baseline;

            img {
                width: 20px;
                margin-top: 5px;
            }
        }
    }
}

.openions {
    display: flex;
    background-color: rgb(248, 248, 248);
    min-height: 300px;
    align-items: center;
    justify-content: space-evenly;
    @media(max-width: 991px){
        display: none;
    }

    h2 {
        color: $orange;
        font-size: 36px;
        max-width: 329px;
        word-wrap: break-word;
        padding-right: 178px;
    }

    .review {
        background-color: white;
        padding: 18px;
        border-radius: 17px;
        min-height: 100;
        box-shadow: -1px 1px 26px 3px rgb(211, 210, 210);

        h4 {
            margin-top: -15px;
        }

        p {
            margin-top: -15px;
            max-width: 272px;
            word-wrap: break-word;
        }

        .customer {
            display: flex;
            align-items: flex-start;
            gap: 3px;

            img {
                width: 60px;
                object-fit: contain;
            }

            .name {
                img {
                    min-height: 20px;
                    padding: -4px;
                    padding-right: -16px;
                    margin-right: -15px;
                    vertical-align: middle;
                }
            }

            .evaluation {
                img {
                    width: 20px;
                    object-fit: contain;
                }

                p {
                    margin-top: -15;
                }
            }
        }
    }
}

.discounts {
    background-color: $whitegreen;
    
    position: relative;
    padding: 27px 117px;
   

    h1 {
        padding-top: 10px;
        text-align: center;
        color: white;
        font-size: 35px;
    }

    .bottls {
        display: flex;
        justify-content: space-around;
        @media(max-width: 991px){
            display: grid;
            gap: 10px;
        }

        .bottl {
            border-radius: 15px;
            background-color: white;
            position: relative;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            width: 286px;

            label {
                position: absolute;
                top: 13px;
                left: 10px;
                background-color: rgb(201, 11, 5);
                color: white;
                border-radius: 9px;
                width: 80px;
                text-align: center;
                -webkit-border-radius: 15px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }

            img {
                width: 202px;
                margin-top: -33px;
                margin-right: 48px
            }

            h2 {
                margin-top: -59px;
                text-align: center;
                color: $green;
            }

            .money {
                color: $green;
                font-size: 20px;
                margin-top: -27px;
                margin-right: 73px;


            }
        }
      
        
    }

    #text {
        margin-top: -15px;
    }

    #threebottls {
       width: 292px;
        margin-right: -13px;
        margin-top: -9px;
    }

    #textt {
        margin-top: -67px;
    }

    button {
        background-color: $green;
        color: white;
        font-weight: bold;
        font-size: 20px;
        width: 158px;
        min-height: 60px;
        border: none;
        border-radius: 19px;
        margin-top: 40px;
        margin-right: 40%;
       
    }
   
    @media(max-width: 991px){
        display: grid;
        gap: 10px;
    }
}

.personal-information {
    position: relative;
    padding: 20px;

    h1 {
        color: $orange;
        font-size: 39px;
        text-align: center;
        @media (max-width:991px){
            font-size: 27px;
            font-weight: 900;
            word-wrap: initial;
            word-break: break-word;
            max-width: 46%;
            text-align: center;
            margin-right: 175px;
        }

    }

    h3 {
        color: $green;
        font-size: 26px;
        margin-top: -30px;
        text-align: center;
        @media (max-width:991px){
            font-size: 22px;
            font-weight: 500;
            word-break: break-word;
            width: 49%;
            text-align: center;
            margin-right: 168px;
        }
    }

    img {
        position: absolute;
        right: 20%;
        width: 55px;
    }

    #qotationmark2 {
        position: absolute;
        right: 75%;
        top: 26%;
        width: 55px;
    }

    .information {
        display: grid;
        justify-content: center;

        label {
            color: $whitegreen;
            font-size: 18px;
            font-weight: bold;
            margin-right: 122px;
            padding-top: 20px;
        }

        input,
        select {
            width: 350px;
            min-height: 50px;
            background-color: rgb(245, 255, 247);
            border: 2px solid rgb(151, 184, 153);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            margin-right: 118px;
            cursor: pointer;

            input::placeholder {
                color: $whitegreen;

            }
        }

        button {
            background-color: rgb(6, 86, 12);
            color: white;
            font-weight: bold;
            font-size: 20px;
            width: 158px;
            min-height: 60px;
            border: none;
            border-radius: 19px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 170px;
        }

    }
}

.question {
    background-color: rgb(124, 178, 137);
    

    .qs {
        margin-right: 100px;
        display: grid;
        justify-content: center;

        div {
            background-color: $whitegreen;
            color: white;
           max-width: 900px;
            margin: 18px;
            margin-right: 0;
            padding: 15px 50px;
            border-radius: 12px;
            @media(max-width:991px){
                width:auto;
            }
        }

        .textarea {
            min-height: 300px;
            @media(max-width:991px){
                height:auto;
            }
        }
    }

    h1 {
        color: white;
        text-align: center;
        padding-top: 50px;
    }
   
}

footer {
    display: grid;
    background-color: rgb(211, 239, 218);
    justify-content: center;
    padding: 45;

    img {
        width: 100px;
        margin-bottom: 20px;
        margin-right: 35%;
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
        color: $whitegreen;
        font-size: 24px;
        gap: 62px;

        :first-child::after {
            content: "";
            position: absolute;
            background-color: rgb(87, 141, 100);
            width: 5px;
            min-height: 30;
            margin-top: 11px;
            right: 48%;
            @media (max-width: 991px){
                width: 30px;
                min-height: 5px;
                margin-top: 50px;
            }

        }
        @media (max-width: 991px){
            display: grid;
            gap:15px;
            font-size: 20px;
            
        }
    }

    p {
        color: $whitegreen;
        font-size: 20px;
    }
}